<!DOCTYPE html>
<html lang="en">
<head>
    <title>About - <%= forumName %></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" /><link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Anyone can join our community!</h1>
    <p>Read and share stories you want for that fast dopamine hit.</p>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/topics">Topics</a>
        <a href="/users">Users</a>
        <a href="/posts">Posts</a>
        <a href="/addpost">Add Post</a>
        <a href="/search">Search</a>
    </nav>
</body>
</html>
