<!DOCTYPE html>
<html>
<head>
    <title>Home- <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>Welcome to <%= forumName %></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Community</a></li>
            <li><a href="/search">Shop</a></li>
            <li><a href="/register">Change User</a></li>
            <li><a href="/about">Our mission<a></li>
        </ul>
    </nav>
    <p> Total hours focussed: 9.6h </p>
    <p> Nectar points: 200 </p>
    
    <p>Reap what you sow!</p>
    <!-- Adding a timer image in center of page-->
    <div id ="center">
        <img src="https://i.pinimg.com/1200x/cc/9e/63/cc9e63a7cd5e1397b57f5d12004f5bc4.jpg" style="width:60%">
    </div>

</body>
</html>
