<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - <%= forumName %></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>Welcome to <%= forumName %></h1>
    <p>Your go-to place for getting a fast fix of dopamine.</p>

    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/addpost">Add Post</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/topics">Topics</a></li>
            <li><a href="/users">Users</a></li>
        </ul>
    </nav>
</body>
</html>
