<!DOCTYPE html>

<head>
    <title>User Profile - <%= forumName %></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>User Profile</h1>
    <h2><%= userProfile.username %></h2>
    <p>Email: <%= userProfile.email %></p>
    <p>Joined: <%= userProfile.joined %></p>


</body>
</html>
