<!DOCTYPE html>
<head>
    <title>User Profile - <%= forumName %></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>User Profile</h1>
    <h2><%= user.username %></h2>
    <p>Email: <%= user.email %></p>
    <p>Joined: <%= user.joined %></p>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/topics">Topics</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/addpost">Add Post</a></li>
        </ul>
    </nav>
</body>
</html>
